<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TensorFlow Project</title>

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/styles.css" />
  <!-- Using fabric.js library to enable free drawing of numbers in the canvas -->
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>
     <script type='text/javascript'>

        var canvas;
        //setting variables for bruh thickness and colour so it is more modular.
        var bThick = 9;
        var cColour = '#000000';
        //Initialize the canvas element from fabric library
        function initCanvas(){
            canvas = new fabric.Canvas('numCanvas');
            canvas.isDrawingMode = true;
            canvas.freeDrawingBrush.width = bThick;
            canvas.freeDrawingBrush.color = cColour;
            canvas.backgroundColor = '#FFFFFF';
        }
        //load initialization as window loads
        window.onload = function(){
            initCanvas();
        };
        
        //reset canvas if user wants to delete current content
        function reset() {
            var m = confirm("Do you want to clear current number?");
            if (m) {
                canvas.clear();
            }       
        }

        function saveImage(){
            var imgURL = canvas.toDataURL();
            var img = document.createElement('a');
            img.href = imgURL;
            img.download= '/image.png';
            img.click();
        }
    </script>
    <!-- Will ned to move above js code into own file later -->
  <!-- <script type="text/javascript" href="/static/js/scripts.js"></script> -->
</head>
<body>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <p class="navbar-text">TensorFlow in Action</p>            
          </div>
        </div>
      </nav>
  <div id="mainContent" class="jumbotron">
      <div class="container col-xs-12">
          <div class="row col-xs-12">   
              <div class="col-xs-1"></div>    
            <div class="col-xs-4">
                <canvas id="numCanvas" width="280" height="280"></canvas>                             
            </div>   
            <div class="col-xs-4">
                <div id="results">
                        <h3>Your drawn number was...</h3>
                        <img id="canvasImg" width="280" height="280">  
                </div>
            </div>         
        </div> 
        <div class="row col-xs-12">
            <div class="actions">
                <div class="col-xs-1"></div>
                <button class="btn btn-primary col-xs-1" onclick="saveImage()">Submit</button>
                <button class="btn btn-primary col-xs-1 col-xs-offset-1" onclick="reset()">Reset</button>
            </div>    
        </div>        
    </div>
  </div>
  
</body>
</html>