<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TensorFlow Project</title>

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/styles.css" />
  <!-- Using fabric.js library to enable free drawing of numbers in the canvas -->
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>
     <script type='text/javascript'>

        var canvas;
        //Initialize the canvas element from fabric library
        function initCanvas(){
            canvas = new fabric.Canvas('numCanvas');
            canvas.isDrawingMode = true;
            canvas.freeDrawingBrush.width = 7;
            canvas.freeDrawingBrush.color = "#000";
        }
        //load initialization as window loads
        window.onload = function(){
            initCanvas();
        };
        
        //reset canvas if user wants to delete current content
        function reset() {
            var m = confirm("Do you want to clear current number?");
            if (m) {
                canvas.clear();
            }       
        }
        //save current image as .png file
       
        document.getElementById('btnSave').addEventListener('click', function() {
            
            this.href = document.getElementById('numCanvas').toDataURL();
            this.download = 'image.png';
            }, false
        );
    </script>
    <!-- Will ned to move above js code into own file later -->
  <!-- <script type="text/javascript" href="/static/js/scripts.js"></script> -->
</head>
<body>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <p class="navbar-text">TensorFlow in Action</p>            
          </div>
        </div>
      </nav>
  <div id="mainContent" class="jumbotron">
      <div class="container col-md-12">
          <div class="row">     
              <div class="col-md-4"></div>       
            <div class="col-md-4">
                <canvas id="numCanvas" width="400" height="400"></canvas>
                <img id="canvasimg">               
            </div>            
        </div> 
        <div class="row">
            <div class="actions col-md-4 col-md-offset-5">
                <button id="btnSave" class="btn btn-primary col-s-3">Submit</button>
                <button class="btn btn-primary col-s-3 col-md-offset-1" onclick="reset()">Reset</button>
            </div>    
        </div>        
    </div>
  </div>
  
</body>
</html>